{% load staticfiles %}
<head>
		<link rel="stylesheet" type="text/css" href="{% static 'book/style.css' %}">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</head>
<html>
	<body>
			<nav class="navbar navbar-default">
  				<div class="container-fluid">
    				<div class="navbar-header">
     					<a class="navbar-brand" href="{% url 'books:index' %}">My Bookstore</a>
    				</div>
    				<ul class="nav navbar-nav">
      					<li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Books </a></li>
    				</ul>
     				<ul class="nav navbar-nav navbar-right">
      				   <li><a href="{% url 'books:book-add' %}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Book </a></li>
      				   <li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout </a></li>
    				</ul>   				
  				</div>
			</nav>			
			{% block body %}
			{% endblock %}
	</body>
</html>