{% extends 'books/base.html' %}
{% load staticfiles %}
{% block body %}
<head>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</head>
<html>
	<body>
			<h2>Book Name: {{book.name}}</h2>
		<h3>Author: {{book.author}}</h3>
		<h3>Price: &#x20b9; {{book.price}}</h3>
		<h3>{{book.type}}</h3>
			
			<a href = "{% url 'books:book-update' book.id %}" class="btn btn-primary" type="submit" style="vertical-align:middle; background-color: clay"><span>Update</span></a> 
	</body>
</html>
{% endblock %}